body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container-center-800 {
    width: 800px;
    margin: auto;
}
.container-center-1015 {
    width: 1015px;
    margin: auto;
}
.clearfix {
    clear: both;
    display: table;
}
.page-header {
    background: url('img/wheat-back.jpg') bottom no-repeat;
    background-size: cover;
    height: 490px;
    padding: 60px 0 0 0;
}
.page-header .menu {
    margin: 0;
    margin-bottom: 120px;
}
.page-header .menu .page-header__logo {
    width: 140px;
    float: left;
}
.page-header .menu .menu__list {
    float: right;
    list-style: none;
    width: 600px;
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.page-header .menu .menu__list li {
    display: inline-block;
    margin: 0 50px 0 0;
    padding: 20px 0 19px 0;
}
.page-header .menu .menu__list li:nth-last-child(1) {
    margin: 0;
}
.page-header .menu .menu__list li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;  
    text-transform: uppercase;
}
.page-header .slogan {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    color: #ffffff;
}
.news {
    width: 800px;
    margin: auto;
    margin-bottom: 100px;
}
.news .caption {
    display: block;
    margin: 80px 0 75px 0;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
.news .product {
    position: relative;
    display: inline-block;
    width: 339px;
    padding: 0 25px 0 34px;
}
.product1 {
    float: left;
    /* margin-right: -20px; */
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.product2 {
    float: left;
    /* width: 340px; */
    margin-left: -1px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.news .product .product__name {
    margin: 0;
    padding: 0 0 30px 0;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.news .product .product__detail {
    position: absolute;
    top: 85px;
    right: 25px;
    /* float: right; */
    width: 150px;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    font-weight: bold;
}
.news .product .product__detail td {
    padding: 11px 10px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
}
.news .product .product__composition {
    position: absolute;
    top: 164px;
    right: 25px;
    display: inline-block;
    width: 150px;
    color: #404040;
    clear: both;
    font-size: 14px;
    line-height: 24px;
}
.news .product .product__img {
    margin-left: 10px;
    z-index: -1;
}
.product__description {
    padding: 0;
    margin: 6px 0 0 0;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
    margin-bottom: 60px;
}
.product__more-details {
    display: inline-block;
    padding: 14px 20px;
    margin-right: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #834700;
    border: 2px solid #834700;
}
.product__buy {
    display: inline-block;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #834700;
    background: #834700;
}
.product__price {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.pluses {
    background-color: #ffcb78;
    padding: 80px 0;
}
.pluses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.plus {
    display: inline-block;
    margin: 0;
    padding: 0 92px;
    border-left: 1px solid #e5b66c;
    border-right: 1px solid #e5b66c;
    width: 218px;
}
.plus::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin-right: -80px;
}
.plus:nth-child(1)::before {
    background: url('img/icon-brew.png') no-repeat;
}
.plus:nth-child(2)::before {
    background: url('img/icon-matreshka.png') no-repeat;
}
.plus:nth-child(3)::before {
    background: url('img/icon-thumbsup.png') no-repeat;
}
.plus:first-child {
    border: none;
    padding: 0 88px 0 0;
}
.plus:last-child {
    border: none;
    padding: 0 0 0 88px;
}
.plus:not(:first-child) {
    margin-left: -5px;
}
.plus h2 {
    margin: 20px 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.plus p {
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 16px;
    line-height: 30px;
}

* {
    /* outline: 2px solid orange; outline-offset: -2px; */
}